body {
  font-family: Arial, sans-serif;
  padding: 20px;
  background-color: #013b3b;
  color: #3ca3a7;
}

.container {
  width: 80%;
  height: 100%;
  text-align: center;
  margin: auto;
  /* background-color: #558541; */
  /* display: inline-block; */
}

button {
  display: block;
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  cursor: pointer;
}

.correct {
  background-color: #4caf50;
  color: white;
}

.incorrect {
  background-color: #f44336;
  color: white;
}

h1,
label {
  font-family: sans-serif;
  color: rgb(60, 163, 167);
}

h3{
    color:#b3f896
}
